body {
    font-family: 'Cinzel', serif;
    padding: 10px;
    background-image: url("../images/backgroundImage.jpg");
    background-size: cover;
    width: 1000px;
    margin: 0 auto;
}


path {
    fill: #BA5536;
    stroke:  #118C4E;
}

path:last-child {
    fill: #FFBB00;
}

.content {
    display: flex;
    justify-content: space-around;
}

.countryInfo {
    width: 300px;
    margin-bottom: 25px;
}

.flagWrap {
    margin-top: 25px;
}

.weather {
    margin-top: 25px;
}

img {
    height: auto;
    width: 250px;
}

div {
    font-weight: 700;
    font-size: 18px;
}