body {
    font-family: 'Cinzel', serif;
    padding: 10px;
    background-image: url("../images/backgroundImage.jpg");
    background-size: cover;
    width: 1000px;
    margin: 0 auto;
}


path {
    fill: #BA5536;
    stroke: #A43810;
}

path:last-child {
    fill: #FFBB00;
}

h1 {
    color:#BA5536
}

.content {
    display: flex;
    justify-content: space-around;
}


.countryInfo {
    width: 300px;
    margin-bottom: 25px;
}

.flagWrap {
    margin-top: 25px;
    display: none;
}

img {
    height: 170px;
    width: 300px;
}

div {
    font-weight: 700;
    font-size: 18px;
}