body {
  font-family: Verdana;
  font-size: 30px;
  padding: 10px;
}

#chartdiv {
  width: 100%;
  height: 450px;
}

#info {
  opacity: 0.9;
  background: #ccc;
  padding: 10px;
}

#amcharts-balloon-div {
  font-size: 30px;

}